@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  ---tipography-00: 'Archivo', sans-serif;

  ---color-primary-00: #26d360;
  ---color-neutral-verydark: #121212;
  ---color-neutral-light: #c4c4c4;
  ---color-neutral-verylight: #fff;
  ---color-gradient-primary: rgba(0, 0, 0, 0.98);
  ---color-dange-00: #d32626;

  ---radius-full: 50%;
  ---radius-xs: 8px;
  ---radius-none: none;

  ---spacing-vertical-nano: 4px;
  ---spacing-vertical-xxs: 8px;
  ---spacing-vertical-xs: 16px;
  ---spacing-vertical-xm: 40px;

  ---spacing-inline-xxs: 8px;
  ---spacing-inline-xs: 16px;
}

body {
  margin: 0 auto;
  width: 100vw;
  font-family: var(---tipography-00);
  background-color: var(---color-neutral-verydark);
  color: var(---color-neutral-verylight);
  font-size: 14px;
}

h1 {
  font-size: 24px;
}

.radius-full {
  border-radius: var(---radius-full);
}

.radius-xs {
  border-radius: var(---radius-xs);
}

.radius-none {
  border-radius: var(---radius-none);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.card {
  align-items: center;
  align-content: center;
  cursor: pointer;
  margin-left: var(---spacing-vertical-xs);
  text-align: center;
}

.margin-l-r {
  margin-left: 24px;
  margin-right: 24px;
}

.subtitle {
  color: var(---color-neutral-light);
  line-height: 20px;
}

.cards div:first-child {
  margin-left: 0;
}

.card img {
  width: 124px;
  height: 124px;
  background-size: auto;
}

.m-bottom-xs {
  margin-bottom: var(---spacing-vertical-xs);
}

.m-bottom-xxs {
  margin-bottom: var(---spacing-vertical-xxs);
}

.m-bottom-nano {
  margin-bottom: var(---spacing-vertical-nano);
}

.m-top-xs {
  margin-top: var(---spacing-vertical-xs);
}

.m-top-xxs {
  margin-top: var(---spacing-vertical-xxs);
}

.m-top-nano {
  margin-top: var(---spacing-vertical-nano);
}

.m-top-xm {
  margin-top: var(---spacing-vertical-xm);
}

.f-align-left {
  align-items: flex-start;
}

.t-align-left {
  text-align: left;
}
