@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600&family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  ---tipography-00: font-family: 'Archivo', sans-serif;
  
  ---color-primary-00: color: #26D360;
  ---color-neutral-verydark: color: #121212;
  ---color-neutral-light: color: #C4C4C4;
  ---color-neutral-verylight: #fff;
  ---color-gradient-primary: color: rgba(0,0,0,0.98);
  ---color-dange-00: color: #D32626;

  ---radius-full: border-radius: 50%;
  ---radius-xs: border-radius: 8px;
  ---radius-none: border-radius: none;
}


body {
  margin: 0 auto;
}
