<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clone Spotify</title>
    <link href="../style/global.css" rel="stylesheet" />
    <link href="../style/home-mobile.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../style/slick.css"/>
    <script type="text/javascript" src="../scripts/slick-1.8.1/slick.min.js"></script>
    <script type="text/javascript" src="./home-mobile2.js"></script>
  </head>
  <body>
    <header class="mobile-header">
      <h1>Boa noite</h1>
      <div class="icons">
        <span class="btn-icon"><i data-feather="bell"></i></span>
        <span class="btn-icon"><i data-feather="settings"></i></span>
      </div>
    </header>
    <main>
      <section class="recentes">
        <h1>Tocadas recentemente</h1>
        <div class="mobile-cards">
          <div class="mobile-card flex-column ">
            <div class="mobile-card-img radius-full m-bottom-xs"></div>
            <span class="title">Charlie Brown Jr</span>
          </div>
          <div class="mobile-card flex-column">
            <div class="mobile-card-img radius-full m-bottom-xs"></div>
            <span class="title">Elvis Presley</span>
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div class="mobile-card-curtidas m-bottom-xs"></div>
            <span class="title">Músicas Curtidas</span>
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Elvis Presley</span>
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Elvis Presley</span>
          </div>
        </div>
      </section>

      <section class="saudade m-top-xm">
        <h1>Suas músicas estão com saudade</h1>
        <div class="mobile-cards flex-row">
          <div class="mobile-card flex-column f-align-left">
            <div class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Avicii</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Ouça aqui os maiores hits de Avicii</span
            >
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Linkin Park</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Chris Bell, Scot Holt, Gene Deer, Luther Johnson</span
            >
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Lo-fi Instrumental</span>
            <span class="subtitle t-align-left m-top-xxs"
              >The best Lofi Hip Hop & Chill Music in 2021 ...</span
            >
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Elvis Presley</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Ouça aqui os maiores hits de Alok, com Alive</span
            >
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Elvis Presley</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Ouça aqui os maiores hits de Alok, com Alive</span
            >
          </div>
        </div>
      </section>

      <section class="feitoPara m-top-xm">
        <h1>Feito para Carlos Gizbert</h1>
        <div class="mobile-cards flex-row">
          <div class="mobile-card flex-column f-align-left">
            <div class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Alok 2021 Lanç...</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Ouça aqui os maiores hits de Alok, com Alive</span
            >
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Bob Marley</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Ouça aqui os maiores hits de Alok, com Alive</span
            >
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Elvis Presley</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Ouça aqui os maiores hits de Alok, com Alive</span
            >
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Elvis Presley</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Ouça aqui os maiores hits de Alok, com Alive</span
            >
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Elvis Presley</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Ouça aqui os maiores hits de Alok, com Alive</span
            >
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Elvis Presley</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Ouça aqui os maiores hits de Alok, com Alive</span
            >
          </div>
        </div>
      </section>

      <section class="artistas-preferidos m-top-xm">
        <h1>Seus artistas preferidos</h1>
        <div class="mobile-cards flex-row">
          <div class="mobile-card flex-column">
            <div class="mobile-card-img radius-full m-bottom-xs"></div>
            <span class="title">Bee Gees</span>
          </div>
          <div class="mobile-card flex-column">
            <div class="mobile-card-img radius-full m-bottom-xs"></div>
            <span class="title">Charlie Brown Jr</span>
          </div>
          <div class="mobile-card flex-column">
            <div class="mobile-card-img radius-full m-bottom-xs"></div>
            <span class="title">Avicii</span>
          </div>
          <div class="mobile-card flex-column">
            <div class="mobile-card-img radius-full m-bottom-xs"></div>
            <span class="title">Elvis Presley</span>
          </div>
        </div>
      </section>
      <footer class="mobile-footer">
        
      </footer>
    </main>
    <div class="mobile-player">
      <div class="mobile-player-current">
        <div class="mobile-player-current-cover">
        </div>
        <div class="mobile-player-current-title">Avicii - Levels (Radio Edit)</div>
      </div>
      <div class="mobile-player-play"><span class="btn-icon"><i data-feather="play"></i></span></div>
    </div>
    <div class="mobile-menu">
      <div class="mobile-menu-btn mobile-menu-btn-active">
        <span class="mobile-menu-btn-icon"><i data-feather="home"></i></span>
        Início
      </div>
      <div class="mobile-menu-btn mobile-menu-btn-inactive">
        <span class="mobile-menu-btn-icon"><i data-feather="search"></i></span>
        Buscar
      </div>
      <div class="mobile-menu-btn mobile-menu-btn-inactive">
        <span class="mobile-menu-btn-icon"><i data-feather="list"></i></i></span>
        Sua biblioteca
      </div>
    </div>
  </body>
</html>
