<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clone Spotify</title>
    <link href="../style/global.css" rel="stylesheet" />
    <link href="../style/home-mobile.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../style/slick.css"/>
    <script type="text/javascript" src="../scripts/slick-1.8.1/slick.min.js"></script>
    <script type="text/javascript" src="./home-mobile2.js"></script>
  </head>
  <body>
    <header class="mobile-header">
      <h1>Boa noite</h1>
      <div class="icons">
        <span class="btn-icon"><i data-feather="bell"></i></span>
        <span class="btn-icon"><i data-feather="settings"></i></span>
      </div>
    </header>
    <main>
      <section class="recentes">
        <h1>Tocadas recentemente</h1>
        <div class="mobile-cards">
          <div class="mobile-card flex-column ">
            <div id="recentes01" class="mobile-card-img radius-full m-bottom-xs"></div>
            <span class="title">Charlie Brown Jr</span>
          </div>
          <div  class="mobile-card flex-column">
            <div id="recentes02" class="mobile-card-img radius-full m-bottom-xs"></div>
            <span class="title">Marília Mendonça</span>
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div class="mobile-card-curtidas m-bottom-xs"></div>
            <span class="title">Músicas Curtidas</span>
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div id="recentes03" class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Elvis Presley</span>
          </div>
        </div>
      </section>

      <section class="saudade m-top-xm">
        <h1>Suas músicas estão com saudade</h1>
        <div class="mobile-cards flex-row">
          <div class="mobile-card flex-column f-align-left">
            <div id="saudade01" class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Jorge & Mateus</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Ouça aqui os melhores sertanejos</span
            >
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div id="saudade02" class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Linkin Park</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Pink Floyd, U2, AC/DC, Black Sabbath e mais</span
            >
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div id="saudade03" class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Ludmilla</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Anita, Ludmilla, Mc Poze e sucessos...</span
            >
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div id="saudade04" class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Chris Brown</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Akon, Snoop Dog, Asap Rocky, Ne-Yo...</span
            >
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div id="saudade05" class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Elvis Presley</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Ouça aqui os maiores hits do rei do rock</span
            >
          </div>
        </div>
      </section>

      <section class="feitoPara m-top-xm">
        <h1>Feito para Carlos Gizbert</h1>
        <div class="mobile-cards flex-row">
          <div  class="mobile-card flex-column f-align-left">
            <div id="feito01" class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Alok 2021 Lanç...</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Ouça aqui os maiores hits de Alok, com Alive</span
            >
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div id="feito03" class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Vintage Culture</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Deep house, technno e muita track boa!</span
            >
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div id="feito02" class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Bob Marley</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Ouça aqui os maiores hits de Bob Marley</span
            >
          </div>
          <div class="mobile-card flex-column f-align-left">
            <div id="feito04" class="mobile-card-img radius-none m-bottom-xs"></div>
            <span class="title">Gustavo Lima</span>
            <span class="subtitle t-align-left m-top-xxs"
              >Os maiores sucessos do sertanejo</span
            >
          </div>
        </div>
      </section>

      <section class="artistas-preferidos m-top-xm">
        <h1>Seus artistas preferidos</h1>
        <div class="mobile-cards flex-row">
          <div  class="mobile-card flex-column">
            <div id="artpref01" class="mobile-card-img radius-full m-bottom-xs"></div>
            <span class="title">Drake</span>
          </div>
          <div class="mobile-card flex-column">
            <div id="artpref02" class="mobile-card-img radius-full m-bottom-xs"></div>
            <span class="title">Charlie Brown Jr</span>
          </div>
          <div class="mobile-card flex-column">
            <div id="artpref03" class="mobile-card-img radius-full m-bottom-xs"></div>
            <span class="title">Avicii</span>
          </div>
          <div class="mobile-card flex-column">
            <div id="artpref04" class="mobile-card-img radius-full m-bottom-xs"></div>
            <span class="title">Elvis Presley</span>
          </div>
        </div>
      </section>
      <footer class="mobile-footer">
        
      </footer>
    </main>
    <div class="mobile-player">
      <div class="mobile-player-current">
        <div class="mobile-player-current-cover">
        </div>
        <div class="mobile-player-current-title">Charlie Brown Jr - Hoje eu Acordei Feliz</div>
      </div>
      <div class="mobile-player-play"><span class="btn-icon"><i data-feather="play"></i></span></div>
    </div>
    <div class="mobile-menu">
      <div class="mobile-menu-btn mobile-menu-btn-active">
        <span class="mobile-menu-btn-icon"><i data-feather="home"></i></span>
        Início
      </div>
      <div class="mobile-menu-btn mobile-menu-btn-inactive">
        <span class="mobile-menu-btn-icon"><i data-feather="search"></i></span>
        Buscar
      </div>
      <div class="mobile-menu-btn mobile-menu-btn-inactive">
        <span class="mobile-menu-btn-icon"><i data-feather="list"></i></i></span>
        Sua biblioteca
      </div>
    </div>
    <script>
      feather.replace()
    </script>
  </body>
</html>
